.section-header {
  
    padding: 50px 0;
    
}

.section-title {
    font-size: 1.4em !important;
    color: #4f6ee0;

}

.bgClass {
    background: #D6EAF8;
}

.header-margin {
    margin-top: 300px;
}

.section-subtitle {
    width:80%;
    margin: 0 auto;
    color: #4f6ee0;
    font-size: 0.9em;
}

@media (min-width:768px){
    .header-margin {
        margin-top: 150px;
    }
    
   /* .section-header {
      margin-top: 150px;
   } */
   .section-title {
      font-size: 2.5em !important;
   }
   .section-subtitle {
       font-size: 1.5em
   }

     
} 


